@import url('https://fonts.googleapis.com/css2?family=Cal+Sans:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: hsl(0, 0%, 100%);
  --color-primary: #ffcc00;
  --font-cal-sans: 'Cal Sans', sans-serif;
}
